<!-- Model: BotIsRunning -->
@model bool

@if (Model)
{
    <div id="StatusWidget" class="widget-body status-positive">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-9">
                    <i id="StatusIcon" class="fas fa-play status-icon"></i>
                    <span id="StatusMessage">Bot is running...</span>
                </div>
                <div class="col-3">
                    <button id="StatusActionButton" class="btn btn-outline-secondary status-action">Stop</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="StatusWidget" class="widget-body status-negative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-9">
                    <i id="StatusIcon" class="fas fa-pause status-icon"></i>
                    <span id="StatusMessage">Bot is not running.</span>
                </div>
                <div class="col-3">
                    <button id="StatusActionButton" class="btn btn-outline-success status-action">Start</button>
                </div>
            </div>
        </div>
    </div>
}
