@model OverviewViewModel
@{
    ViewData["Title"] = "Bot Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            @if (Model.ActiveAccount != null)
            {
                <partial name="_BotStatusWidget.cshtml" for="BotIsRunning"/>
            }
        </div>
        <div class="col-8">
            <partial name="_ActiveBotWidget.cshtml" for="ActiveAccount"/>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/@Html.Raw("@")aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/botStatusWidget.js"></script>
}
