@model OverviewViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5">
            @if (Model.ActiveAccount != null)
            {
                <partial name="_BotStatusWidget.cshtml" for="BotIsRunning" />
            }
            <partial name="_ActiveBotWidget.cshtml" for="ActiveAccount" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-7">
            @if (Model.ActiveAccount != null)
            {
                <partial name="_LoggerWidget.cshtml" for="LogBuffer" />
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/@Html.Raw("@")aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalRConnection.js"></script>
    <script src="~/js/botStatusWidgetSignalR.js"></script>
    <script src="~/js/activeBotWidgetSignalR.js"></script>
    <script src="~/js/loggerSignalR.js"></script>
}
