@model BotAuthViewModel

@if (Model.BotIsRunning)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No can do!</h4>
        <p>You cannot change the bot account while the bot is running.</p>
        <hr>
        <p class="mb-0"><a asp-controller="Home" asp-action="Index">Go back</a></p>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 d-flex justify-content-center">
                @if (Model.SavedBotAccounts.Any())
                {
                    foreach (var account in Model.SavedBotAccounts)
                    {
                        <a asp-controller="Bot" asp-action="UseStoredAccount" asp-route-name="@account.Name">
                            <div class="widget-body m-1 account-card">
                                <img src="@account.AvatarUrl" width="100" height="100" />
                                <p>@account.Name</p>
                            </div>
                        </a>
                    }       

                    <a asp-controller="Bot" asp-action="OneTimeToken">
                        <div class="widget-body m-1 account-card">
                            <i class="fas fa-plus"></i>
                            <p>Create a new bot account</p>
                        </div>
                    </a>

                    <a asp-controller="Bot" asp-action="NewBotAccount">
                        <div class="widget-body m-1 account-card">
                            <i class="fas fa-user-secret"></i>
                            <p>Use a one-time token</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
}
