@model BotAuthViewModel

@if(!Model.SavedBotAccounts.Any())
{
    <p>There are no stored accounts.</p>
}
else
{
    <p>There are stored accounts...</p>
}

<ul>
    <li>
        <a asp-controller="Bot" asp-action="OneTimeToken">Use a one-time token.</a>
    </li>
</ul>
