@model System.Collections.Generic.IEnumerable<string>
@{
    ViewData["Title"] = "Log";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 log-scrollable">
            <span>Full log (newest first)</span>
            <ul id="LoggerWidgetList">
                @foreach (var message in Model)
                {
                    <li class="log-item"><i class="fas fa-angle-right"></i> @message</li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/@Html.Raw("@")aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalRConnection.js"></script>
    <script src="~/js/fullLoggerSignalR.js"></script>
}
